.slider {
    width: 100%;
    height: 360px;
    overflow: hidden;
    margin-top: 20px;
}
.slider .center {
    width: 1024px;
    height: 360px;
    margin: auto;
}
.slider .center .right {
    width: 780px;
    height: 360px;
    float: right;
}
.slider .center .right .slider-box {
    width: 780px;
    height: 280px;
    overflow: hidden;
}
.slider .center .right .slider-box .btns{
    width: 200px;
    height: 280px;
    float: right;
}
.right .slider-box .btns .active::before {
    content: "";
    width: 5px;
    height: 66px;
    float: right;
    overflow: hidden;
    background-color: #27bec4;
}
.right .slider-box .btns .btnitem1{
    border-top: 2px solid rgb(231, 231, 231);
}
.right .slider-box .btns .btn-item {
    overflow: hidden;
    width: 198px;
    border-right: 2px solid #ccc;
    height: 70px;
    border-bottom: 2px solid #e4e4e4;
    background-color: white;
    position: relative;
}
.right .slider-box .btns .btn-item::after {
    content: "";
    width: 12px;
    height: 21px;
    background: url("images/btnSlider.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 15px;
    cursor: pointer;
}
.right .slider-box .btns .active::after {
    content: "";
    width: 12px;
    height: 21px;
    background: url("images/btnSliderActive.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 22px;
    left: 15px;
    cursor: pointer;
}
.right .slider-box .btns .btn-item h5 {
    margin: 10px 15px 0 0;
    color: #27bfc4;
    font-size: 14px;
}
.right .slider-box .btns .btn-item h6 {
    color: #b4b4bd;
    font-size: 12px;
    margin: 10px 15px 0 0;
}
.slider .center .right .slider-box .imgs{
    width: 580px;
    height: 280px;
    float: left;
}
.right .slider-box .imgs .img-item{
    width: 580px;
    height: 280px;
    float: left;
}
.right .slider-box .imgs .img-item img{
    width: 580px;
    height: 280px;
    float: left;
}
.slider .center .right .levels {
    display: none;
}
.slider .center .right .levels ul {}
.slider .center .right .levels ul li {}
.slider .center .right .levels ul li i.icon {}
.slider .center .right .levels ul li i.icon-gift {}
.slider .center .right .levels ul li i.icon-pay {}
.slider .center .right .levels ul li i.icon-check {}
.slider .center .right .levels ul li h5 {}
.slider .center .right .levels ul li p {}
.slider .center .right .levels {}
.slider .center .left {
    display: none;

}
.slider .center .left .ads {}
.slider .center .left .ads a {}
.slider .center .left .ads a img {}
.slider .center .newsletter {}
.slider .center .newsletter img {}
.slider .center .newsletter p {}
.slider .center .newsletter form {}
.slider .center .newsletter form input[type=email] {}
.slider .center .newsletter form input[type=submit] {}

























